
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700&display=swap');


body{
    font-family: 'Roboto', sans-serif
}

.card-img-top{
  width: 250px;
  height: 350px;
}

.card-img-top:hover{

  transform: scale(1.25);
  transition: 0.5s;
}

.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.p3{
  margin-top: 20px;
}


.p4{
  margin-top: 80px;
}
